
div {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-bottom: 50px;
    flex-direction: column;
}

.pass{
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 19px;
}

.form{
    border-width: 1px;
    border-radius: 30px;
    height: 35px;
    width: 500px;
    margin: 20px;
    text-indent: 25px;
}

#btn{
    border-width: 2px;
    border-radius: 30px;
    height: 35px;
    width: 500px;
    margin: 20px;
    text-indent: 25px;
    border-color: rgb(0, 208, 255);
    color: rgb(0, 208, 255);
}

.heading{
    display:flex;
    align-items: flex-start;
    height: 30px;
    margin-top: 250px;
    margin-left: 260px;
    font-family: Helvetica;
    font-weight: bold;
}